.clients-container{
    width:fit-content;
    display:flex;
    flex-direction: column;
    min-width:600px;
    height:75vh;
    overflow-y: scroll;
    background-color:white;
    border-radius:5px;
    padding:0 0rem 4rem 0rem;
   margin:auto;
   margin-top:7rem;
   
   padding:1rem 3rem;

   
   
}
.client-table-content{
   
    
    font-size:0.9em;
    display:block;
    
    
    margin:0 auto;
   
    thead tr{
        background-color:white;
        text-align:left;
        font-weight:bold;    
        margin:0.5rem ;
        th{
            padding:12px 15px;
            border-bottom: 1px solid rgb(235, 230, 230);
        }   
    }
   
    tbody{
        
        tr{
            background-color:white;
            border-radius: 8px;
        }
    }

    td{
        padding:12px 15px;
        
    }
    
}
