.client-container-header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem 2rem;
    background-color: rgb(250, 244, 244);
    margin:0;
  
    
    margin-bottom:0.5rem;
    border-bottom:2px solid rgb(234, 231, 231);
    
}
.btn{
    border:none;
    color:white;
    background-color:rgb(121, 121, 237);
}